[submodule "contracts"]
	path = contracts
	url = git@github.com:logorithm360/contracts.git
[submodule "lib/chainlink-local"]
	path = lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
